body {
    /* remove default extra space */
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
.button {
    width: 100px;
    height: 100px;
    margin: 6px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 100px;
    border-color:darkolivegreen;
    background-color: rgb(39, 52, 17);
    color: white;
}
.button-container {
    max-width: 500px;
    width: 500px;
    max-height: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid black;
    max-width: 450px;
    width: 400px;
    max-height: 30px;
    height: 30px;
    padding: 4px;
    margin-bottom: 18px;
    margin-top: 36px;
    font-size: larger;
}
.container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.number-button {
    max-width: 100px;
    width: 100px;
    max-height: 100px;
    height: 100px;
    margin: 6px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 100px;
    border-color:darkolivegreen;
    background-color: rgb(7, 92, 7);
    color: white
}
.operate-button {
    max-width: 100px;
    width: 100px;
    max-height: 100px;
    height: 100px;
    margin: 6px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 100px;
    border-color:darkolivegreen;
    background-color: rgb(44, 56, 23);
    color: white;
}
#equal {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 100px;
    border-color:darkolivegreen;
    background-color: rgb(16, 20, 9);
    color: white;
}
#clear {
    font-size: large;
}

