/* .button-container {

} */
/* .container{
    display: flex;
} */
/* remove default extra space */
body {
    margin: 0px;
}
.button {
    max-width: 100px;
    width: 100px;
    max-height: 100px;
    height: 100px;
    margin: 6px;
}
.button-container {
    max-width: 500px;
    width: 500px;
    max-height: 500px;
    height: 500px;
}
.display {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    border: 1px solid black;
    padding: 5px 250px;
}
.container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}